<!DOCTYPE html>
<html>
<head>
<style>
th {background-color:blue;}
td {background-color:grey;}
</style>
</head>
<body>

<table>
<tr>
<th colspan="4">followed</th>
</tr>
<tr>
{% for user in follow %}
{% if user in notfollow %}
<td>{{ user }}<a href="add_follow/{{user.id}}"> Follow </a></td>
{% else %}
<td>{{ user }}<a href="remove_follow/{{user.id}}"> Unfollow </a></td>

{% endif %}
{% endfor %}
</tr>
<th colspan="4">unfollowed</th>
<tr>
{% for user in notfollow %}
{% if user in notfollow %}
<td>{{ user }}<a href="add_follow/{{user.id}}"> Follow </a></td>
{% else %}
<td>{{ user }}<a href="remove_follow/{{user.id}}"> Unfollow </a></td>
{% endif %}
{% endfor %}
</tr>

</table>
<a href="logout">logout</a>

{% for user in users %}
	{% for tweet in user.tweet_set.all %}
	<p> {{user}} hizo {{tweet}}  <a href="update_tweet/{{tweet.id}}">edit</a><a href="delete_tweet/{{tweet.id}}"> delete</a> </p>
	{% endfor %}
{% endfor %}
<form method="POST" action="{% url 'new_tweet' %}">
{% csrf_token %}
<input type="text" name="tweet">
<input type="submit" value="tweet">
</form> 
</body>
</html>